* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.contentDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  border: none;
}

button{
  padding: 2px 5px;
  font-family: Arial ;
  border-radius: 8px;
  border-width: 1px;
}